html, body, #root {
	width: 100%;
	height: 100%;
}

.App {
  text-align: center;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
  background-image: url("./testSplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

button {
	border: 2px solid white;
	border-radius: none;
	background: none;
	color: white;
	padding: 5px;
}
button:active {
	background: white;
	color: black;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.SULogo {
  margin: 10px;
}

#scheduleContainer {
	display: flex;
}
#scheduleContainer > div {
	margin: 5px;
}
#scheduleContainer > div h2 {
	margin: 0;
}
#scheduleContainer > div.active > .use {
	display: none;
}
#scheduleContainer > div:not(.active) > .change {
	display: none;
}
