.displayTime {
    font-size: 30px;
    color: white;
}

.displayTime h1 {
    margin: 0px;
}

.schedule {
    font-size: 15px;
    display: inline;
}
.schedule p {
    display: inline;
    padding: 0px 10px;
}
.timePassed {
    color: forestgreen;
}

.timeLeft {
    color: red;
}

.schedule a {
    text-decoration: none;
    color: white;
}